@model SchoolSystem.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="ImageUrl" />
            <input type="hidden" asp-for="Age" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageMark" class="control-label"></label>
                <input asp-for="AverageMark" class="form-control" />
                <span asp-validation-for="AverageMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Class</label>
                <select class="form-control"
                        asp-for="ClassId" asp-items="@(new SelectList(ViewBag.AllClasses,"ClassId","Name"))">
                    <option selected disabled>Select...</option>
                </select>
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmEmail" class="control-label"></label>
                <input asp-for="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendanceTime" class="control-label"></label>
                <input asp-for="AttendanceTime" class="form-control" />
                <span asp-validation-for="AttendanceTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeavingTime" class="control-label"></label>
                <input asp-for="LeavingTime" class="form-control" />
                <span asp-validation-for="LeavingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input type="file" name="imageFile" id="imageFile" class="form-control" accept=".png,.jpg" onchange="AddImage()" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
        <img src="" id="empImage" class="col-2" style="object-fit:contain" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function AddImage() {
            document.getElementById("empImage").src =
                window.URL.createObjectURL(document.getElementById("imageFile").files[0]);
        }
    </script>
}

